@{
    ViewData["Title"] = "Home Page";
    ViewBag.background="../images/headset3.jpg";
}
<div class="row">
     <div class="col-md-12 col-sm-12 col-lg-12 text-center ">
         <button class="btn bg-primary">SHOP NOW</button>
     </div>
</div>